<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a senior software engineer.<br/><br/>
			I enjoy creating mobile/web/desktop applications that can simplify and change other people's lives.<br/><br/>
			WINNER of 2018 NEO BLACK SEA COMMUNITY HACKATON in Tbilisi, Georgia. <a target="_blank" href="https://blockference.com/article/the-n-e-o-black-sea-community-hackathon"> Link </a><br/><br/>
			Here are some websites: <a target="_blank" href="https://beta.translive.ge">Translive (Vue.js) </a> <a target="_blank" href="http://teleportgeorgia.com/">Teleport</a> <a target="_blank" href="http://bene-exclusive.com/">BeneExclusive</a> <a target="_blank" href="http://profitlab.ge/">ProfitLab</a></br></br>
			
			Election Smart Contract: <a target="_blank" href="http://157.230.105.129:8080/">Voting App</a> (just for fun).
	                Food Shop (Oshop): <a target="_blank" href="http://157.230.105.129:4200/">Oshop</a> (Angular - just for fun)
	
		</div>
		<br>
	</div>
</div>
