<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Software Engineer / Huge fan of : TDD, Design Patterns, DRY,  KISS, Agile<br/><br/>
			
			My Articles:<br/>
			<li><strong>My Masterpiece </strong><a href="https://github.com/novaknole/Blockchain_Hyperledger/wiki" target="_blank">HyperLedger Fabric(Private Blockchain)</a></li>
			<li><a href="https://medium.com/@glagh14/coolest-things-about-mysql-c46eec366986" target="_blank">Coolest Things About Mysql</a></li>
			<li><a href="https://github.com/novaknole/Laravel/wiki" _target="_blank">Laravel</a></li>
			<li><a href="https://github.com/novaknole/Vue.Js/wiki" _target="_blank">Vue.js</a></li>
			<li><a href="https://github.com/novaknole/Algorithms" _target="_blank">Algorithms&Data Structures</a></li>
			<li><a href="https://github.com/novaknole/C/blob/master/Functional/kawa-problems.scm" target="_blank">Functional Programming</a></li>
			<li><a href="https://medium.com/@glagh14" target="_blank">Others</a></li>
			
			<br>
			I create mobile/web/desktop applications<br/>
			WINNER of 2018 NEO BLACK SEA COMMUNITY HACKATON in Tbilisi, Georgia. <a target="_blank" href="https://blockference.com/article/the-n-e-o-black-sea-community-hackathon"> Link </a><br/><br/>
			Here are some websites: <a target="_blank" href="https://translive.ge">Translive (Vue.js) </a> <a target="_blank" href="http://teleportgeorgia.com/">Teleport</a> <a target="_blank" href="http://bene-exclusive.com/">BeneExclusive</a> <a target="_blank" href="http://profitlab.ge/">ProfitLab</a></br></br>
			
			Election Smart Contract: <a target="_blank" href="http://giorgilagidze.com:8080/">Voting App</a> (just for fun).</br>
	                Food Shop (Oshop): <a target="_blank" href="http://giorgilagidze.com:4200/">Oshop</a> (Angular - just for fun).</br>
			Ionic App - <a target="_blank" href="https://play.google.com/store/apps/details?id=com.translive.translive.translive">Translive</a>
			
		</div>
		<br>
	</div>
</div>
