<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a senior software engineer currently working at bitforx and kairos logistic.<br/><br/>
			I enjoy creating mobile/web/desktop applications that can simplify and change other people's lives.<br/>
			Here are some websites: <a target="_blank" href="https://translive.ge">Translive</a> <a target="_blank" href="http://teleportgeorgia.com/">Teleport</a> <a target="_blank" href="http://bene-exclusive.com.com/">BeneExclusive</a> <a target="_blank" href="http://profitlab.ge/">ProfitLab</a>  <a target="_blank" href="http://moviesadviser.com/">MoviesAdviser</a>    
		</div>
		<br>
	</div>
</div>
